Repository NullNoException/uniconnect-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @admin-team, @product-team, @devops-team, @backend-team, @mobile-team, @frontend-team, @tech-writers

.github/CODEOWNERS:

# This file defines code owners for different parts of the repository

# Code owners will be automatically requested for review when a PR is opened

# Learn more: https://docs.github.com/en/repositories/managing-your-repository-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything

-       @admin-team

# Business requirements and specifications

/business-analyst/ @product-team

# Infrastructure as Code

/infra/ @devops-team

# Core API (C#/.NET)

/src/core-api/ @backend-team

# Customer App (Flutter)

/src/customer_app/ @mobile-team

# Admin Panel

/src/admin-panel/ @frontend-team

# CI/CD workflows

/.github/ @devops-team

# Documentation

/docs/ @tech-writers

feat: Set up Husky for Git hooks and enforce code quality
  .husky/pre-commit
Owners: none

feat: add .NET 9 setup for C# analysis in CodeQL workflow
  .github/workflows/codeql-analysis.yml
Owners: @devops-team

fix: update CodeQL workflow to use .NET 9 and latest action versions
  .github/workflows/codeql-analysis.yml
Owners: @devops-team

fix: update CodeQL action version to v3 for improved functionality
  .github/workflows/codeql-analysis.yml
Owners: @devops-team

feat: implement security analysis workflows for C# and Flutter, add analysis script, and enhance Dart analyzer configuration
  .github/workflows/codeql-analysis.yml
  .github/workflows/flutter-security-analysis.yml
  .github/workflows/security-analysis.yml
  analyze_flutter_security.sh
  src/core-api/tests/UniConnect.IntegrationTests/UniConnect.IntegrationTests.csproj
  src/core-api/tests/UniConnect.UnitTests/UniConnect.UnitTests.csproj
  src/customer_app/analysis_options.yaml
Owners: @devops-team, @backend-team, @mobile-team

style: Adjust import formatting for improved readability in app_router.dart
  src/customer_app/lib/presentation/routes/app_router.dart
Owners: @mobile-team
